/*Color Pallete
#DADDD8 Grey ^
#C7D59F Grey Green
#B7CE63 Middle Green ^
#8FB339 Lime Green
#4B5842 Forest Green ^



/*Global Styles
--------------------------------*/
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

p{
  line-height: 1.5;
}
h1, h2{
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 40px;
  margin-top: 0;
}
h3{
  margin:0;
}
a{
  color:#8FB339;
}
a:hover{
  text-decoration: none;
}
.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}
.narrow{
  width:30%;
  float: left;
  min-height: 175px;
}
.wide{
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
}


/*Header and Footer
--------------------------------*/
header, footer{
  background: #4B5842;
  color: #DADDD8;
}
header h1, header h2{
  color:#C7D59F;
  margin: 0;
}
.profile{
  border-radius: 50%;
}
header{
}
footer{
  text-align:center;
}
.contact-info a{
  padding: 10px;
  display:inline-block;
  color: #C7D59F;
}

/*Projects Experience
--------------------------------*/
.projects {
  background: #DADDD8;
  color: black;
}
h3 ~ p{
  margin:0;
}

/*Skills Experience
--------------------------------*/
.skills {
  background: #DADDD8;
  color: black;
}
h3 ~ p{
  margin:0;
}

/*Work Experience
--------------------------------*/
.work {
  background: #DADDD8;
  color: black;
}
h3 ~ p{
  margin:0;
}


/*Education
--------------------------------*/
.education {
  background:#DADDD8 ;
  color: black;
  border-top-style: inset;
}
